@import 'variables.css';

:root, button {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--font-colour);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.information {
  color: var(--information-font-colour);
}

.review-item {
  background-color: var(--f-background-colour);
  height: 500px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.topbar {
  min-height: 48px;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  flex-direction: row;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: var(--medium-font-size);
  border-bottom: var(--f-border);
}

.topbar-info {
  flex: 2 1 0%;
}

.topbar-status {
  color: var(--f-information-colour);
  flex: 1 1 0%;
  text-align: right;
}

.statusbar {
  min-height: 32px;
  align-items: center;
  padding-left: 16px;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  position: relative;
}

.review-area {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  position: relative;
}

.flashcard {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 16px;
  flex: 1 1 0%;
}

.feedback {
  flex-direction: row;
  min-height: 56px;
  display: flex;
  box-sizing: border-box;
  flex-basis: auto;
  flex-shrink: 0;
  position: relative;
  border-top: var(--f-border);
}

.hidden-answer {
  font-size: var(--smaller-font-size);
  width: 66.6%;
  flex: 2 1 0%;
  padding-left: 16px;
  overflow-x: scroll;
  transition: transform 0.15s;
}

.centre-stage {
  flex: 4 1 0%;
  margin-left: 16px;
  max-width: 66.6%;
  /* TODO: ideally, would want a dynamic font-size depending
  on the container width */
  font-size: 22px;
  overflow-x: scroll;
  transition: transform 0.2s;
}

.lowerbar {
  height: 48px;
  position: absolute;
  top: calc(100% - 48px);
  width: 100%;
}

.z-priority {
  z-index: 1;
}

.prompt-button {
  height: 48px;
  width: 100%;
  background-color: #fa863d;
  border: none;
  /* flex: 1 1 0%; */
  border-top: var(--f-border);
}

button.prompt-button {
  cursor: pointer;
  color: var(--information-font-colour);
  font-weight: 600;
  font-size: var(--smaller-font-size);
  padding-left: 16px;
  padding-right: 16px;
}

.button-info {
  display: flex;
  align-items: center;
}

.button-icon {
  flex: 1 1 0%;
  align-items: flex-start;
}

.button-text {
  flex: 1 1 0%;
}

.pb-left {
  border-right: var(--f-border);
}

.prompt-button:hover {
  background-color: #f4742f;
}

.feedback-buttons {
  display: flex;
}